.msg-content{
    margin-bottom: 5px;
    text-align: center;
}
.dialog-content{
    color: black;
}
.row-content{
    margin-top: 8px;
}
.info-verif{
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.taper-text {
    font-size: 13px;
    text-align: center;
    // font-weight: bold;
    font-style: italic;
}