.green-bg {
    background-color: rgb(97, 157, 253);
}

.red-bg {
    background-color: lightcoral;
}
/* styles.css */
.datatable-summary-row {
  background-color: rgb(54, 114, 211);
  /* Couleur de fond bleu clair */
  font-weight: bold;
  /* Texte en gras */
  color: white;
  /* Texte en bleu */
  text-align: right;
  /* Aligner le texte à droite */
  height: 35px;
  /* Hauteur de la ligne de résumé */
}
