<mat-sidenav-container>
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60"
      (ngSubmit)="updatePassword()">
      <mat-card class="p-0 mat-elevation-z24 box">
        <div fxLayout="column" fxLayoutAlign="center center"
          class="bg-primary logo-container" style="height: 100px">
          <!-- Ajoutez votre logo ou autre élément visuel ici -->
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="end center"
          class="box-content-pwd">
          <mat-card fxLayout="column" fxLayoutAlign="center center"
            class="mat-elevation-z12 box-content-inner">
            <span class="box-content-header">{{ "password.update" | translate
              }}</span>
            <mat-form-field class="w-100">
              <input matInput
                placeholder="{{ 'entrez.nouveau.motdepasse' | translate }}"
                formControlName="password" type="password" />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <div></div>
            <button mat-raised-button color="primary" type="submit"
              class="mat-elevation-z12" [disabled]="!form.valid">
              {{ "password.update" | translate }}
            </button>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

</mat-sidenav-container>
